name: Java Ci

on:
  push:
    branches:
        - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        submodules: true
    - name: Set up JDK 24
      uses: actions/setup-java@main
      with:
        java-version: 24
        distribution: temurin
    - name: Assemble APK
      run: ./gradlew --no-daemon 'assembleRelease'
    - name: Set MIHON_VERSION
      run: echo "MIHON_VERSION=v$(grep --only-matching --perl-regexp 'versionName\s=\s\"\K([0-9\.]+)' './app/build.gradle.kts')+$(git rev-parse --short 'HEAD')" >> "${GITHUB_ENV}"
    - name: Upload APK
      uses: actions/upload-artifact@main
      with:
        name: "kahon_${{ env.MIHON_VERSION }}-github-release"
        path: ./app/build/outputs/apk/release/app-release-unsigned.apk
